extends base.pug 

block style
 style
      include ../static/style.css
      include ../static/about.css
      
block content 
 div.about1 
  div.intro
   img(src="./static/images/logo.png", alt="SAAVN" id="logo")
   h1 SAAVN
   p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ab fuga iure. Modi possimus perferendis repudiandae ea delectus laborum, quas cupiditate, qui dolorum vitae ullam sint numquam facilis obcaecati dicta doloremque, adipisci nisi quos! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa sunt dicta ullam expedita, ex tempore error, quibusdam iure nisi voluptas omnis ipsam? Minima vel cumque, doloribus voluptatum aperiam eos iure iusto sit totam magni quam, quo ipsum! Quibusdam enim quas obcaecati quia impedit quod iste ab veniam deserunt! Sed, vitae.
 div.about2 
  div.card
   img(src="static/images/images.png", alt="1", srcset="") 
   h2 Best Online Music Platform 
   p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, sapiente! Sint temporibus, est necessitatibus dolores facilis officia error rem! Exercitationem.
  div.card 
   img(src="static/images/listen.png", alt="", srcset="")
   h2 Most Listen Website
   p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, sapiente! Sint temporibus, est necessitatibus dolores facilis officia error rem! Exercitationem.
  div.card 
   img(src="static/images/yt.png", alt="", srcset="")
   h2 #1 Trending On Youtube 
   p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, sapiente! Sint temporibus, est necessitatibus dolores facilis officia error rem! Exercitationem.
