extends base.pug
block content 
  div.searchbar 
      input(type="text" class=myInput placeholder=" Search  🔎︎ ") 
  div.midsection 
   
    div.OuterBox
     div.SongContents
      div.SongBanner
       img(src="./static/images/download.jfif", alt="Song")
      div.songItem 
       span.songItems Let Me Love You   
       span.click 
        i(id="1" class="fas songItemPlay fa-play-circle")
       span.timestamp 03:32
        img(src="https://i.gifer.com/5uwq.gif", alt="PPP", srcset="" id="gif" )
     div.SongContents
      div.SongBanner
       img(src="./static/images/download.jfif", alt="Song")
      div.songItem 
       span.songItems Let Me Love You
       span.click 
        i(id ="2" class="fas songItemPlay fa-play-circle")
       span.timestamp 02:18 
        img(src="https://i.gifer.com/5uwq.gif", alt="PPP", srcset="" id="gif")
     div.SongContents
      div.SongBanner
       img(src="./static/images/download.jfif", alt="Song")
      div.songItem 
       span.songItems Let Me Love You 
       span.click 
        i(id="3" class="fas songItemPlay fa-play-circle")
       span.timestamp 03:28
        img(src="https://i.gifer.com/5uwq.gif", alt="PPP", srcset="" id="gif")
     div.SongContents
      div.SongBanner
       img(src="./static/images/download.jfif", alt="Song")
      div.songItem 
       span.songItems Let Me Love You 
       span.click 
        i(id="4" class="fas songItemPlay fa-play-circle")
       span.timestamp 03:09
        img(src="https://i.gifer.com/5uwq.gif", alt="PPP", srcset="" id="gif")
     div.SongContents
      div.SongBanner
       img(src="./static/images/download.jfif", alt="Song")
      div.songItem 
       span.songItems Let Me Love You  
       span.click 
        i(id="5" class="fas songItemPlay fa-play-circle")
       span.timestamp 02:21
        img(src="https://i.gifer.com/5uwq.gif", alt="PPP", srcset="" id="gif")
     div.SongContents
      div.SongBanner
       img( alt="Song")
      div.songItem 
       span.songItems Let Me Love You 
       span.click 
        i(id="6" class="fas songItemPlay fa-play-circle")
       span.timestamp 02:32 
        img(src="https://i.gifer.com/5uwq.gif", alt="PPP", srcset="" id="gif")
     div.SongContents
      div.SongBanner
       img(src="./static/images/download.jfif", alt="Song")
      div.songItem 
       span.songItems Let Me Love You 
       span.click 
        i(id="7" class="fas songItemPlay fa-play-circle")
       span.timestamp 03:50
        img(src="https://i.gifer.com/5uwq.gif", alt="PPP", srcset="" id="gif")
     div.SongContents
      div.SongBanner
       img(src="./static/images/download.jfif", alt="Song")
      div.songItem 
       span.songItems Let Me Love You  
       span.click        
         i(id ="8" class="fas songItemPlay fa-play-circle")
       span.timestamp 04:07 
        img(src="https://i.gifer.com/5uwq.gif", alt="PPP", srcset="" id="gif")
        

  div.ThirdSection 
   div.RangeBar 
    input(type="range" name="range" id="Slider" min="0" max="100" value="0")
    div.Btr 
     <i class="fas  fa-3x fa-backward" id="previous"></i>
     <i class="fas  fa-3x fa-play-circle" id="masterPlay"></i>
     <i class="fas  fa-3x fa-forward" id="next"></i>