extends base.pug 

block style
 style
      include ../static/style.css
      include ../static/home1.css
block content 
 div.box1 
  h1 Our Top Playlists 
 div.box2 
  div.card
   img(src="static/images/playlist.jpg", alt="", srcset="")
   h3 #[a(href="/english") English Songs]
  div.card
   img(src="static/images/english.jpg", alt="", srcset="")
   h3 #[a(href="/english") English Songs]
  div.card
   img(src="static/images/playlist.jpg", alt="", srcset="")
   h3 #[a(href="/english") English Songs]

